<%- include('partials/header') %>

<h2><%= title %></h2>

<% if (users.length === 0) { %>
  <p>ユーザーがいません</p>
<% } else { %>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>メール</th>
        <th>年齢</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.age %>歳</td>
          <td>
            <a href="/users/<%= user.id %>">詳細</a>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } %>

<%- include('partials/footer') %>